{% extends "::base.html.twig" %}

{% block title %}CorncakesMemberBundle:Church:index{% endblock %}

{% block body %}

    <div class="row">
        <div class="large-12 columns">
            <br>
            <h3>{{ 'List churches'|trans }}</h3>
            <hr>
        </div>
        <div class="large-12 columns">
            <div class="row">
                <div class="large-12 columns">
                    <table class="hover">
                        <thead>
                            <tr>
                                <th width="200">{{ knp_pagination_sortable(pagination, 'Name'|trans, 'c.name') }}</th>
                                <th width="400">{{ knp_pagination_sortable(pagination, 'Address'|trans, 'c.address') }}</th>
                                <th width="50">{{ knp_pagination_sortable(pagination, 'Phone'|trans, 'c.phone') }}</th>
                                <th width="100">{{ 'Actions'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for church in pagination %}
                                <tr>
                                    <td>{{ church.name }}</td>
                                    <td>{{ church.address }}</td>
                                    <td>{{ church.phone }}</td>
                                    <td>
                                        <div class="tiny button-group">
                                            <a href="#" class="secondary button">{{ 'View'|trans }}</a>
                                            <a href="{{ path('church_edit', {id : church.id}) }}" class="button">{{ 'Edit'|trans }}</a>
                                            <a href="#" class="alert button">{{ 'Delete'|trans }}</a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="large-12 columns">
                    <hr>
                    <div class="navigation text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
